@media screen and (max-width:999px){
	.wrap{
		width: auto;
	}

	#logo{
		padding: 0  0 0 15px;
	}

	#menu{
		padding: 15px 15px 0 0;
	}

	#about ul{

		li{
			width: 33%;
		}

		h1{
			padding: 0 15px;
		}
	}

	#contact-form{
		width: 90%;
	}
	#message{
		width: auto;
		float: none;
		padding-left: 15px;
		#comment{
			width: 85%;
		}
	}
	.send{
		margin-right: 3%;
	}
	#pagination{
		padding: 0 20px;
	}
	#hello-works ul li{
		width: 48%;
	}
	#pagination{
		width: 70%;
	}
	
}


@media screen and (max-width:768px){
	#logo{
		margin: 0 auto;
		text-align: center;
		float: none
	}

	#menu{
		float: none;
		margin: 0 auto;
		text-align: center;
		padding-top: 20px;
	}

	#works{
		padding-top: 0px;
	}

	#about ul{
		width: auto;
	}

	#contact{
		margin-bottom: 0;
	}
	#contact-form{
		float: none;
		margin-bottom: 0;
	}
	#message{
		float: none;
		text-align: center;
		margin: 0 auto;
		width: 80%;
		padding-left: 0;

	}
	#infouser{
		float: none;
		margin: 0 auto;
		width: 80%;
		input{
			width: 85%;
		}

	}
	.send{
		margin-right: 13%;
		float: right;
	}
	#hello-works ul li{
		width: 90%;
		float: none;
	}	

}

@media screen and (max-width:480px){	
	#menu{
		float: none;
		margin: 15px auto 0;
		width: 380px;
	}

	#header{
		margin-bottom: 60px;
	}

	#openlab, #textocanvas{
		padding-top: 80px;
	}

	#about ul li{
		width: 50%;
	}
	#infouser{
		width: 325px;
		input{
			width: 268px;
		}
		#icon-name, #icon-mail{
			width: 42px;
		}
	}
	#message{
		width: 325px;

		#comment{
			float: left;
			width: 268px;
		}
		#icon-comment{
			width: 42px;
		}
	}
	.send{
		float: right;
		margin-right: 12%; 
	}

	#works, #openlab, #experiment, #about, #contact h1{
		padding-left: 4px;
		padding-right: 4px;
	}

}

@media screen and (max-width:360px){
	#about ul li{
		width: auto;
		float: none
	}

}
