

@font-face {
    font-family: 'novecento';
    src: url('../fonts/novecentowide-medium-webfont.eot');
    src: url('../fonts/novecentowide-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide-medium-webfont.woff') format('woff'),
         url('../fonts/novecentowide-medium-webfont.ttf') format('truetype'),
         url('../fonts/novecentowide-medium-webfont.svg#novecento_medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'novecento-wide';
    src: url('../fonts/novecentowide-light-webfont.eot');
    src: url('../fonts/novecentowide-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide-light-webfont.woff') format('woff'),
         url('../fonts/novecentowide-light-webfont.ttf') format('truetype'),
         url('../fonts/novecentowide-light-webfont.svg#novecento_widelight') format('svg');
    font-weight: normal;
    font-style: light;

}




$fontFamily: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$magenta: #FF0080;
$width_wrap: 980px;
