@import "compass/reset";
@import "compass/css3";


@import "_variables";
@import "_mixins";


/* ==========================================================================
   Generales
   ========================================================================== */
   @media screen and (max-width:999px){
   	.wrap{
   		width: auto;
   	}
   }


   #superadminlogin, #hellologin, #openlablogin{
   	margin: auto;
   	position: absolute;
   	top: 0; left: 0; bottom: 0; right: 0;
   	height: 266px;
   	width: 155px;

   	p{
   		text-transform: uppercase;
   		font-family: $fontFamily;
   		color: #FFF;
   		margin: 10px 0;
   		text-align: center;

   	}

   } 
/* ==========================================================================
   SuperAdmin
   ========================================================================== */

   #bodysuperadmin{
   	@include bodybg($magenta);
   }



   .btn {
   	@include btn(#FFF, #282828, 0px, 'novecento', 10px);


   	&:hover{
   		background:darken(#282828, 10);
   	}

   	&:active{
   		background:darken(#282828,15);
   		top: 2px;
   	}

   }

/* ==========================================================================
   Hello Login
   ========================================================================== */

   #bodyhello{
   	@include bodybg(#545454);
   }
   .btnhello{
   	@include btn(#FFF, $magenta, 0px, 'novecento', 10px);

   	&:hover{
   		background:darken($magenta, 10);
   	}

   	&:active{
   		background:darken($magenta,15);
   		top: 2px;
   	}
   }

   #hellologin a img{
   	margin-left: 50px
   }

/* ==========================================================================
   OpenLab
   ========================================================================== */
   #bodyopenlab{
   	@include bodybg(#282828);
   }
   .btnopenlab{
   	@include btn(#FFF, $magenta, 0px, 'novecento', 10px);

   	&:hover{
   		background:darken($magenta, 10);
   	}

   	&:active{
   		background:darken($magenta,15);
   		top: 2px;
   	}
   }

