@import "compass/reset";
@import "compass/css3";


@import "_variables";
@import "_mixins";


/* ==========================================================================
   Generales
   ========================================================================== */
   @media screen and (max-width:999px){

   	.wrap{
   		width: auto;
   	}
   }

   .logologin{
      margin-bottom: 15px;

      h1{
         font-family: 'novecento';
         font-size: 1.375em;
         color: #fff;
         text-transform: uppercase;
         text-align: center;
      }
   }

   #superadminlogin, #hellologin, #openlablogin{
   	margin: auto;
   	position: absolute;
   	top: 0; left: 0; bottom: 0; right: 0;
   	height: 266px;
   	width: 155px;

   	p{
   		text-transform: uppercase;
   		font-family: $fontFamily;
   		color: #FFF;
   		margin: 10px 0;
   		text-align: center;
         font-size: 0.875em;
      }

      input{
         width: 155px;
      }

      #loginadmin{
         text-align: center;
      }

   } 
   

   #content{
      
      margin-left: 250px;
      margin-top: 25px;

      p{
         font-family: $fontFamily;
         text-transform: uppercase;
         color: #8C8C8C;
         font-size: 0.750em;
         margin-left: 25px;
         padding-top: 10px;

         span{
            float: right;
            font-size: 0.875em;
            margin-right: 3%;
            padding-top: 1px;
            text-transform: none;
         }

         input{
            display: block;
            background-color: #E2E2E2;
            border: none;
            height: 2em;
            font-size: 1.35em;
            margin-top: 3px;
            width: 97%;
            color: #8C8C8C;
            font-family: $fontFamily;
         }

         textarea{
            background-color: #E2E2E2;
            border: none;
            display: block;
            width: 97%;
            font-size: 1.35em;
            color: #8C8C8C;
            font-family: $fontFamily;
         }
      }

      hr{
         color: #6B6B6B;
         width: 95%;
      }

      h1{
         text-transform: uppercase;
         font-size: 2em;
         font-family: $fontFamily;
         margin-left: 24px;
      }
      ul{
         margin: 25px;

         li{
            font-family: $fontFamily;
            text-transform: uppercase;
            padding: 8px;

            [class^="icon-"]:before, [class*=" icon-"]:before{
               float: right;
            }
         }
      }
   }

   .par{
      background-color: #EFEFEF;
   }

   .impar{
      background-color: #E2E2E2;
   }

   .sidebaradmin{
      top: 0;
      bottom: 0;
      width: 250px;
      height: 100%;
      position: absolute;

      ul{
         margin-top: 75px;

         li{
            font-family: $fontFamily;
            text-transform: uppercase;
            line-height: 2em;
            font-weight: 200;
            font-size: 0.875em;

            a{
               text-decoration: none;
               color: #FFF;
            }
         }
      }
   }

   [class^="icon-"]:before, [class*=" icon-"]:before {
      color: $magenta;
   }

   .logoadmin{
      display: block;
      margin: 75px auto 0;
      text-align: center;

      img{
         position: relative;
      }
   }


/* ==========================================================================
   SuperAdmin
   ========================================================================== */
   #bodysuperadmin{
   	background-color: $magenta;

   }

   .btnsuperadmin {
   	@include btn(#FFF, #282828, 0px, 'novecento', 10px 20px);
      font-size: 0.875em;

      &:hover{
         background:darken(#282828, 10);
      }

      &:active{
         background:darken(#282828,15);
         top: 2px;
      }

   }

   .siderbarsuperadmin{
      background-color: $magenta;

      li{
         background-color: #A80265; 

         &:hover{
           background-color: #C1006A;
        }           
     }
  }
   
   .logosuperadmin{
      img{
         width: 53%;
      }
   }

   .btnaddimage{
      @include btn(#FFF, #8C8C8C, 0px, $fontFamily, 10px);
      font-size: 0.875em;

      &:hover{
         background: darken(#8C8C8C, 10);
      }
      &:active{
         background: darken(#8C8C8C, 15);

      }
   }

   .publicar{
      @include btn(#FFF, $magenta, 0px, $fontFamily, 10px 20px);
      font-size: 1.15em;
      float: right;
      margin-right: 3%;


      &:hover{
         background: darken($magenta, 10);
      }
      &:active{
         background: darken($magenta, 15);
         
      }
   }

   #content{
      h1{
         color: #2D2D2D;

         span{
            color: $magenta;
         }
      }
   }

/* ==========================================================================
   Hello Admin
   ========================================================================== */
   #bodyhello{
   	background-color: #545454;
   }

   .btnhello{
   	@include btn(#FFF, $magenta, 0px, 'novecento', 10px 20px);
      font-size: 0.875em;

      &:hover{
         background:darken($magenta, 10);
      }

      &:active{
         background:darken($magenta,15);
         top: 2px;
      }
   }

   #hellologin a img{
      margin-left: 50px
   }

   .sidebarhello{
      background-color: #545454;

      li{
         background-color: #3A3A3A;

         &:hover{
            background-color: #2D2D2D;
         }
      }

      h1{
         font-family: 'novecento';
         font-size: 1.375em;
         color: #fff;
         text-transform: uppercase;
         text-align: center;

      }
   }

/* ==========================================================================
   OpenLab Admin
   ========================================================================== */
   #bodyopenlab{
   	background-color: #282828;
   }

   #openlablogin{
      width: 271px;

   }

   .btnopenlab{
   	@include btn(#FFF, $magenta, 0px, 'novecento', 10px 20px);
      font-size: 0.875em;

      &:hover{
         background:darken($magenta, 10);
      }

      &:active{
         background:darken($magenta,15);
         top: 2px;
      }
   }

   .sidebaropenlab{
      background-color: #282828;

      li{
         background-color: #3A3A3A; 
         &:hover{
           background-color: #2D2D2D;
        }           
     }

     img{
      width: 85%;

   }
}


