@import "compass/reset";
@import "compass/css3";


@import "_variables";
@import "_mixins";



/* ==========================================================================
   Index
   ========================================================================== */

   nav{
   	background-color: #282828;
   	height: 54px;
   	border-bottom: 4px solid #333333;

   	img{
   		margin-top: 10px;
   		width: 200px;	
   	}

   	ul{
   		float: right;

   		li{
   			float: left;
   			margin-left: 10px;
   			display: inline;
   			vertical-align: middle;
   			line-height: 54px;

   			a{
   				font-family: $fontFamily;
   				text-transform: uppercase;
   				text-decoration: none;
   				color: #FFF;
   				font-size: 0.750em;
   			}
   		}
   	}
   }

   .wrap{
   	width: $width_wrap;
   	overflow: hidden;
   	margin: 0 auto;
   }

   section{
   	background-color: #F9F9F9;
   	width: $width_wrap/4 * 2.8;
   	margin: 50px 0;
   	overflow: hidden;
   	float: left;
   	border: 1px solid #E8E8E8;
   }

   article{
   	display: inline-block;
   	padding: 20px;

   	img{
   		float: left;
   		margin-right: 12px;
   	}

   	h1{
   		font-size: 1.5em;
   		font-weight: bold;
   		font-family: $fontFamily;
   		text-transform: uppercase;
   		display: inline-block;
   		margin: 8px 0;
         color:rgba(40,40,40,0.9);  

         a {
           text-decoration: none;
           color:rgba(40,40,40,0.9); 
         }
   	}

   	p{
   		font-size: 0.750em;
   		color: #606060;
   		font-family: $fontFamily;
   		line-height: 1.4em;
   		text-align: justify;
   	}
   }

   .tags{

      ul{
         display: block;

         li{
            display: inline-block;
            background-color: $magenta;
            padding: 0 4px 4px;
            font-family: $fontFamily;

            a{
               color: #fff;
               text-transform: uppercase;
               text-decoration: none;
               font-size: 0.563em;
            }
         }
      }

   }

   .date{
   	display: inline-block;
   	float: left;
   	margin-right: 12px;
   	background-color:rgba(40,40,40,0.9);
   	padding: 4px 8px;

   	p{
   		color: #fff;
   		text-transform: uppercase;
   		text-align: center;
   		line-height: 1em;
   	}
   }

   .numero{
   	font-family: 'novecento-wide';
   	font-size: 1.188em;
   }

   .mes{
   	font-family: 'novecento';

   	font-size: 0.750em;
   }

   aside{
   	overflow: hidden;
   	float: right;
   	width: 265px;
   	margin-top: 50px;

   }

   #about{
   	background-color: $magenta;
   	padding: 25px;
   	margin-bottom: 20px;
      font-size: 0.938em;

   	p{
   		font-family: $fontFamily;
   		font-weight: bold;
   		color: #FFF;
   		text-align: center;
   		line-height: 1.1em;
   	}
   }

   #social{
   	background-color:rgba(40,40,40,0.9);
   	padding: 20px;
   	margin-bottom: 20px;

   	ul{
   		margin: 15px auto;
   		text-align: center;

   		li{
   			display: inline;
   			text-align: center;
   			margin-right: 3px;
   		}
   	}

   	h2{
   		color: $magenta;
   		font-family: 'novecento';
   		font-size: 1.438em;
   		text-transform: uppercase;
   		text-align: center;


   	}		
   }

   #buscador{
   	h2{
   		color:rgba(40,40,40,0.9);
   		text-decoration: uppercase;
   		font-family: 'novecento';
   		font-size: 1.375em;
   	}

   	input{
   		background-color: #E2E2E2;
   		width: 100%;
   		border: none;
   		height: 30px;
   		padding-left: 5px;
   		font-size: 1em;
   		margin-top: 5px;
   	}
   }

   #categorias{
   	margin-top: 25px;

   	h2{
   		color:$magenta;
   		text-decoration: uppercase;
   		font-family: 'novecento';
   		font-size: 1.375em;
   		margin-bottom: 10px;
   	}

   	ul{
   		line-height: 1.1em;

   		li {
   			list-style: disc outside none;
   			display: list-item;
   			margin-left: 1em;

   			a{
   				color: #606060;
   				text-decoration: none;
   				font-family: $fontFamily;
   				font-size: 0.875em;
   				font-weight: bold;

   				span{
   					font-weight: normal;
   				}

   			}
   			a:hover{
   				color: $magenta;
   			}
   		}
   	}
   }

   #pagination{
   	border-top: 1px solid #D3D3D3;
   	width: 87%;
   	margin: 0 0 10px 72px;

   }



   .next {
   	float: right;
   	font-family: $fontFamily;

   	@include btn(#FFF, rgba(40,40,40,0.9), 3px, $fontFamily, 4px 20px);
   	margin: 20px 0;

   	&:hover{
   		background:darken(rgba(40,40,40,0.9), 10);
   	}

   	&:active{
   		background:darken(rgba(40,40,40,0.9),15);
   	}

   }



/* ==========================================================================
   Video - Articulos
   ========================================================================== */

	.share {
   	font-family: $fontFamily;

   	@include btn(#FFF, rgba(40,40,40,0.9), 3px, $fontFamily, 4px 10px);
   	margin: 10px 0;
	   font-size: 0.688em;

   	&:hover{
   		background:darken(rgba(40,40,40,0.9), 10);
   	}

   	&:active{
   		background:darken(rgba(40,40,40,0.9),15);
   	}

   }

   hr{
   	color: #BABABA;
   }

   #header{
      margin-bottom: 30px;
      border-bottom: 1px solid #BABABA;
      overflow: hidden;
      padding-bottom: 25px;
   }

   .video{
      overflow: hidden;
      text-align: center;
      margin: 25px 0 10px;
      border-bottom: 1px solid #BABABA;
      padding-bottom: 20px;
   }

   #post{
      p{
         font-size: 0.875em;
         margin: 25px 0;
      }

      img{
         width: 85%;
         float: none;
         display: block;
         margin: 0 auto;
         padding: 15px;
         background-color: #EAEAEA;
         border: 1px solid #D1D1D1; 
      }
   }

   
   .btndescargas{

      li{

         @include btn(#FFF, #545454, 0, $fontFamily, 10px 15px);
         margin: 10px 5px;


         &:hover{
            background:darken(#545454, 10);
         }

         &:active{
            background:darken(#545454,15);
         }

         a{
            color: #FFF;
            text-decoration: none;
            font-size: 0.750em;
         }
      }

   }
   
   .code{
      margin: 25px 0;
   }

   footer{
      border-top: 1px solid #BABABA;
      margin-top: 25px;
      padding-top: 15px;
      clear: both;

      h2{
         color: $magenta;
         font-family: 'novecento';
         text-decoration: uppercase;
         margin-bottom: 6px;
      }

      ul{
         margin-left: 8px;
      

         li{
            display: list-style;
            list-style: disc outside none;
            margin-left: 1em;
            padding-top: 2px;

            a{
               color: #606060;
               text-decoration: none;
               font-family: $fontFamily;
               font-size: 0.875em;
            }
         }
   }  }


   figure{
      position: relative;
      }

   figcaption {
      display: block;
      width: 100%;
      position: absolute;
      bottom: 5px; 
      font-size: 0.75em;
      left: 45px;
      margin: 0;
      padding: 5px 0;
      text-indent: 5px;
      font-family: $fontFamily;
      color: #9B9B9B;

   }

   .caption{
      img{
         padding-bottom: 30px;
      }
   }
