/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 @import "compass/reset";
 @import "compass/css3";


 @import "_variables";
 @import "_mixins";



/* ==========================================================================
   Globales
   ========================================================================== */

.wrap{ //Centra el contenido
	width:980px;
	margin: 0 auto;

}

.btn {
   @include btn(#FFF, $magenta, 8px, $fontFamily, 4px 20px);

	&:hover{
		background:darken($magenta, 10);
	}

	&:active{
		background:darken($magenta,15);
		top: 2px;
	}

}

.mini { //Botones 'Say Hello To My Little Nerds'
@include border-radius(3px);
}

/* ==========================================================================
   Texto
   ========================================================================== */

   h1{
   	font-size: 2.4em;
   	font-family: 'novecento';
   	color:#878787;
   	margin-bottom: 2px;
   }

   p{
   	font-family:$fontFamily;
   	color: #BCBCBC;
   	line-height: 1.8em;
   	font-size: 1em;
   }


/* ==========================================================================
   Intro
   ========================================================================== */

   #intro{
   	@include background-image(radial-gradient(500px 500px, #FFF 10px, #E7E8E9 900px));
   	padding-top:20px;
   }

   #header{
   	margin: 0 0 80px 0;
   	overflow:hidden;
   }

   #logo{
   	display:block;
   	float: left;

   	a{
   		text-decoration:none;

   	}
   }

   #menu{
   	padding:15px 0;
   	margin:0;
   	float:right;
   	text-align:right;

   	ul{
   		display: block;

   		li{
   			display:inline;
   			margin-left: 20px;
   			text-transform:uppercase;
   			font-size:0.875em;
   			text-decoration:none;
   			font-family:$fontFamily;

   			a{
   				text-decoration:none;
   				color:#919191;
   			}
   			a:hover{
   				border-bottom: 2px solid #919191;
   				color:darken(#919191, 50);
   			}
   		}
   	}
   }


/* ==========================================================================
   Works
   ========================================================================== */

   #works{
   	text-align: center;
   	padding-bottom:100px;

   	p{
   		padding: 8px 50px 0;
   	}
   }

/* ==========================================================================
   OpenLab
   ========================================================================== */
   #openlab{
   	padding: 100px 0;
   	background-color: #00C9FF;
   	text-align: center;

   	h1{
   		color:#FFF;
   	}
   	p{
   		color:#FFF;
   		padding: 8px 50px 0;
   	}
   }
/* ==========================================================================
   Experiment
   ========================================================================== */

   #experiment{
   	background-color:$magenta;
   	height: 400px;
   }

   #miCanvas{
   	position: absolute;
   	display: block;
   }


   #textocanvas{
   	position:relative;
   	text-align:center;
   	z-index: 2;
   	padding: 100px 0;

   	h1{
   		color:#FFF;
   	}
   	p{
   		color:#FFF;
   		padding: 8px 50px 0;
   	}
   }

   .btnexp{
   	@include inline-block;
   	@include border-radius(8px);
   	padding: 4px 20px;
   	margin: 10px 0px;
   	font-size:0.938em;
   	color:#545454;
   	text-decoration:none;
   	background-color:#FFF;
   	text-transform: uppercase;
   	border: none;
   	cursor: pointer;
   	text-transform: uppercase;
   	outline: none;
   	position: relative;
   	-webkit-transition: all 0.3s;
   	-moz-transition: all 0.3s;
   	transition: all 0.3s;
   	&:hover{
   		background:#CCC;
   	}
   	&:active{
   		background:darken(#CCC,15);
   		top: 2px;
   	}
   }

/* ==========================================================================
   About
   ========================================================================== */

   #about {
   	background:#545454;
   	padding:60px 0 ;
   	text-align: center;

   	h1{
   		color:#FFF;
   		margin-bottom: 60px;
   		font-family:"novecento", Helvetica, arial;
   		line-height: 1.2em;
   	}

   	ul {
   		margin:0 auto;
   		text-align: center;
   		overflow:hidden;
   		width:780px;

   		li {
   			float:left;
   			margin-bottom:5px;
   			text-align:center;
   			width:260px;

   			h3 {
   				color:#FFF;
   				font-size:1.125em;
   				font-weight:600;
   				font-family:"novecento", Helvetica, arial;
   				padding:20px 0 20px;
   			}

   			p {
   				color:#FFF;
   				font-size:0.875em;
   				line-height:100%;
   				font-family:$fontFamily;
   				margin: 0 3px;

   			}

   			a{
   				font-family:$fontFamily;
   				font-weight: bold;
   				margin: 20px 0;
   			}

   		}
   	}

   }

/* ==========================================================================
   Contact
   ========================================================================== */

   #contact{
   	text-align:center;
   	padding: 100px 0;
   	margin-bottom: 300px;

   	h1{
   		margin: 20px 0;
   		line-height: 1.2em

   	}

   	p{
   		padding: 0 100px;
   		margin-bottom: 30px;
   	}
   }

   #contact-form{
   	margin: 0 50px 150px ;
   }

   #infouser{
   	width:310px;
   	float: left;
   	overflow:hidden;

   	input{
   		padding-left: 4px;
   		font-size:0.983em;
   		font-weight:bold;
   		width: 262px;
   		height:40px; 
   		border:none;
   		background-color:#D1D1D1;
   		float:left;
   		margin-top:10px;
   		-webkit-box-sizing: border-box;
   		-moz-box-sizing: border-box;
   		box-sizing: border-box;
   	}

   	#icon-name{
   		background:#666 image-url('../img/name.png') center no-repeat;
   		height:40px;
   		width:48px;
   		margin:10px 0;
   		display:inline-block;
   		float:left;
   		border:none;
   	}

   	#icon-mail{
   		background:#666 image-url('../img/mailcontact.png') center no-repeat;
   		height:40px;
   		width:48px;
   		margin:10px 0;
   		display:inline-block;
   		float:left;
   		border:none;

   	}
   }

   #message{
   	float:right;
   	width: 530px;
   	overflow:hidden;

   	textarea{
   		margin-top:10px;
   		padding:5px;
   		float:left;
   		width:90%;
   		height:200px;		
   		background-color:#D1D1D1;
   		font-family:$fontFamily;
   		border:none;
   		font-size:0.983em;
   		font-weight:bold;
   		resize: none;
   		-webkit-box-sizing: border-box; 
   		-moz-box-sizing: border-box;    
   		box-sizing: border-box;         
   	}


   	#icon-comment{
   		background:#666 image-url('../img/message.png') 50% 6% no-repeat;
   		height:200px;
   		width:48px;
   		margin:10px 0;
   		float:left;
   		border:none;
   	}
   }

   .send{
   	overflow:hidden;
   	float:right;
   	clear: both;
   	background-color:#666666;
   	padding: 10px 42px;

   	&:hover{
   		background:darken(#666666, 10);
   	}

   	&:active{
   		background:darken(#666666,15);
   		top: 2px;
   	}
   }

/* ==========================================================================
   Fin Home
   ========================================================================== */

/* ==========================================================================
   Hello
   ========================================================================== */


   header{

   	#hello-logo{
   		margin: 0 auto;
   		text-align: center;
   		margin: 25px 0 2px;
   	}

   	h1{
   		text-align: center;
   		display: block;
   		margin: 0 auto 5px;
   		font-size: 2em;
   	}

   	p{
   		text-align: center;
   		display: block;
   		font-size: 0.750em;
   		padding: 0 50px 10px;
   	}

   	#social{
   		margin: 10px auto;
   		text-align: center;

   		li{
   			display: inline;
   			margin-right: 1px;
   		}
   	}
   	
   	#tags{
   		padding:15px 0;
   		margin:0 auto;
   		text-align:center;
   		border-top: 1px solid #ccc;
   		border-bottom: 1px solid #ccc;

   		ul{
   			display: block;

   			li{
   				display:inline;
   				margin: 5px 0 0 15px;
   				text-transform:uppercase;
   				font-size:0.875em;
   				text-decoration:none;
   				font-family:$fontFamily;
   				background-color: $magenta;
   				padding: 5px 6px;

   				a{
   					text-decoration:none;
   					color:#FFF;
   				}
   				&:hover{
   					color:darken(#919191, 50);
   				}
   			}
   		}
   	}
   }


   #hello-works ul{
   	margin:15px auto;
   	overflow:hidden;
   	padding-bottom: 10px;
   	border-bottom: 1px solid #ccc;
   	width: 98%;
   	text-align: center;
      position:relative;

      li {
       display:inline-block;
       position:relative;
       width: 32%;
       text-align: center;
       margin: 3px;			
    }
    img {
       max-width: 100%;
       position:relative;
       display: block;
    }


    .overlay {
      position:absolute;
      top:0;
      left:0;
      z-index:10;
      width:100%;
      height:100%;
      background-color:rgba(0,0,0,0.5);
      display:none;

      .maintitle {
         display: block;
         position: absolute;
         font-family: $fontFamily;
         font-size: 2em;
         text-align: left;
         color: #fff;
         width: 96%;
         top: 25%;
         margin-left: 6px;
         text-transform: uppercase;
         text-decoration:none;
      }

      ul{
         display: block;
         position:absolute;
         text-align: left;
         top:60%;
         width:100%;
         border: none;

         li{
            display:inline;
            margin: 5px 0 0 5px;
            text-transform:uppercase;
            font-size:0.875em;
            font-family:$fontFamily;
            background-color: #00FF9D;
            padding: 5px 6px;

            a{
               text-decoration:none;
               color:#282828;
               line-height: 2em;
            }
         }
      }
   }
}

#pagination{
 padding-bottom: 50px;
 margin:15px auto;
 overflow:hidden;
 text-align: center;

 .prev{
  float: left;
  font-family: $fontFamily;
  padding: 4px 15px;
}

.next{
  float: right;
  font-family: $fontFamily;
  padding: 4px 15px;
}
}

   /* ==========================================================================
   One Work
   ========================================================================== */
   
   #onework {

      h1{
         text-align: left;
         margin: 10px 0;
      }

      p{
         margin: 10px 0 50px;
         text-align: justify;
         color: #545454;
         font-size: 0.875em;
         padding: 0 3px;
      }
      img{
         display: block;
         position: relative;
         max-width: 100%;
      }

   }

   #otherarticles, #morepictures ul, {
      margin:15px auto;
      overflow:hidden;
      padding-bottom: 10px;
      width: 100%;
      text-align: center;
      position:relative;

      li {
       display:inline-block;
       position:relative;
       width: 32%;
       text-align: center;
       margin: 3px;        
    }
    img {
       max-width: 100%;
       position:relative;
       display: block;
    }

 }

 #otherarticles{
   padding-top: 45px;

   h2{
      font-family: 'novecento';
      font-size: 1.5em;
      color: #404040;
   }
}

/* ==========================================================================
   Experiments
   ========================================================================== */
   #headerexperiments{
      margin: 0 auto;
      text-align: center;
      background-color: $magenta;
      padding-top: 100px;

      h1{
         font-size: 3em;
         font-family: 'novecento';
         text-transform: uppercase;
         color: #FFF;
         margin: 10px 0;
      }
   }

   #experiments{
      

      ul{

         li{
            padding: 25px 0;
            
         }
      }
      img{
         width: 100%;
         max-width: 100%;
      }

      hr{
         color: #FFF;

      }
   }


   .experimentname { 
      position: relative; 
      width: 100%; 
      
      h2{
         position: absolute;
         top: 22%;
         left: 0;
         width: 100%;
         font-size: 3em;
         line-height: 1.15em;

         span{
            color: white; 
            font-family: 'novecento';
            color: #7F7F7F;  
            background-color: #FFF;
            padding: 0 4px;

            
         }
      }
   }

   .experimentbtn{
      float: right;
      @include btn(#FFF, #7F7F7F, 3px, $fontFamily, 4px 20px);

      &:hover{
         background:darken(#7F7F7F, 10);
      }

      &:active{
         background:darken(#7F7F7F, 15);
         top: 2px;
      }

   }

@import "_responsive";