/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

@import "_variables.scss";
@import "_mixins.scss";



/* ==========================================================================
   Globales
   ========================================================================== */

.wrap{ //Centra el contenido
	width:980px;
	margin: 0 auto;
}


.btn {
	@include inline-block;
	@include border-radius(8px);
	padding: 4px 20px;
	margin: 10px 0px;
	font-size:0.938em;
	color:#FFF;
	text-decoration:none;
	background-color:$magenta;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	&:hover{
		background:darken($magenta, 10);
	}
	&:active{
		background:darken($magenta,15);
		top: 2px;
	}

}

.mini {
		@include border-radius(3px);
}

/* ==========================================================================
   Texto
   ========================================================================== */

h1{
	font-size: 2.4em;
	font-family: 'novecento';
	color:#878787;
	margin-bottom: 2px;
	}

	p{
		font-family:$fontFamily;
		color: #BCBCBC;
		line-height: 1.8em;
		font-size: 1em;
}

	
/* ==========================================================================
   Intro
   ========================================================================== */

#intro{
	@include background-image(radial-gradient(500px 500px, #FFF 10px, #E7E8E9 900px));
	padding-top:20px;

}

#header{
	margin: 0 0 80px 0;
	overflow:hidden;
}

#logo{
	display:block;
	float: left;

	a{
		text-decoration:none;
	}
}

#menu{
	padding:8px 0;
	margin:0;

	ul{
		display: block;
		float: right;
		text-align: right;

		li{
			display:inline;
			margin-left: 20px;
			text-transform:uppercase;
			font-size:0.875em;
			text-decoration:none;
			font-family:$fontFamily;

			a{
				text-decoration:none;
				color:#919191;
			}
			a:hover{
				border-bottom: 2px solid #919191;
				color:darken(#919191, 50);
			}
		}
	}
}



/* ==========================================================================
   Works
   ========================================================================== */

#works{
	text-align: center;
	padding-bottom:100px;

	p{
		padding: 8px 50px 0;
	}
}

/* ==========================================================================
   OpenLab
   ========================================================================== */
#openlab{
	padding: 100px 0;
   	background-color: #00C9FF;
   	text-align: center;

   	h1{
   		color:#FFF;
   	}
   	p{
   		color:#FFF;
   		padding: 8px 50px 0;
   	}
}
/* ==========================================================================
   Experiment
   ========================================================================== */

#experiment{
	background-color:$magenta;
}

/* ==========================================================================
   About
   ========================================================================== */

#about {
	background:#545454;
	padding:60px 0 ;
	text-align: center;

	h1{
		color:#FFF;
		margin-bottom: 60px;
		font-family:"novecento", Helvetica, arial;
	}

	ul {
		margin:0 auto;
		text-align: center;
		overflow:hidden;
		width:780px;

		li {
			float:left;
			margin-bottom:5px;
			text-align:center;
			width:260px;

			h3 {
				color:#FFF;
				font-size:1.125em;
				font-weight:600;
				font-family:"novecento", Helvetica, arial;
				padding:20px 0 20px;
			}

			p {
				color:#FFF;
				font-size:0.875em;
				line-height:100%;
				font-family:$fontFamily;

			}

			a{
				font-family:$fontFamily;
				font-weight: bold;
				margin: 20px 0;
			}

		}
	}

}

/* ==========================================================================
   Contact
   ========================================================================== */

#contact{
	text-align:center;
	padding: 100px 0;
	margin-bottom: 300px;

	h1{
		margin: 20px 0;

	}
	p{
		padding: 0 100px;
		margin-bottom: 30px;
	}
}

#contact-form{
	margin: 0 50px 150px ;
}

#infouser{
	width:310px;
	float: left;
	overflow:hidden;
	input{
		padding-left: 4px;
		font-size:0.983em;
		font-weight:bold;
		width: 265px;
		height:38px; 
		border:none;
		background-color:#D1D1D1;
		float:right;
		margin-top:10px;
	}

	#icon-name{
	background:#666 image-url('../img/name.png') center no-repeat;
	height:40px;
	width:40px;
	margin:10px 0;
	display:inline-block;
	float:left;
	border:none;
	}

	#icon-mail{
		background:#666 image-url('../img/mail.png') center no-repeat;
		height:40px;
		width:40px;
		margin:10px 0;
		display:inline-block;
		float:left;
		border:none;
		
	}
}

#message{
	float:right;
	width: 530px;
	overflow:hidden;
	
	textarea{
		margin-top:10px;
		padding:5px;
		float:right;
		width:482px;
		height:200px;		
		background-color:#D1D1D1;
		font-family:$fontFamily;
		border:none;
		font-size:0.983em;
		font-weight:bold;
		-webkit-box-sizing: border-box; 
		-moz-box-sizing: border-box;    
		box-sizing: border-box;         
	}

	#icon-comment{
		background:#666 image-url('../img/message.png') 50% 6% no-repeat;
		height:200px;
		width:48px;
		margin:10px 0;
		float:left;
		border:none;

	}
}

.send{
   overflow:hidden;
   float:right;
   margin-left:300px;
   background-color:#666666;
   padding: 10px 42px;

   &:hover{
		background:darken(#666666, 10);
	}
	&:active{
		background:darken(#666666,15);
		top: 2px;
	}
}