/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'novecento';
  src: url("../fonts/novecentowide-medium-webfont.eot");
  src: url("../fonts/novecentowide-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/novecentowide-medium-webfont.woff") format("woff"), url("../fonts/novecentowide-medium-webfont.ttf") format("truetype"), url("../fonts/novecentowide-medium-webfont.svg#novecento_medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
   Generales
   ========================================================================== */
@media screen and (max-width: 999px) {
  /* line 14, ../sass/admin.scss */
  .wrap {
    width: auto;
  }
}
/* line 19, ../sass/admin.scss */
.logologin {
  margin-bottom: 15px;
}
/* line 22, ../sass/admin.scss */
.logologin h1 {
  font-family: 'novecento';
  font-size: 1.375em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

/* line 31, ../sass/admin.scss */
#superadminlogin, #hellologin, #openlablogin {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 266px;
  width: 155px;
}
/* line 38, ../sass/admin.scss */
#superadminlogin p, #hellologin p, #openlablogin p {
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #FFF;
  margin: 10px 0;
  text-align: center;
  font-size: 0.875em;
}
/* line 47, ../sass/admin.scss */
#superadminlogin input, #hellologin input, #openlablogin input {
  width: 155px;
}
/* line 51, ../sass/admin.scss */
#superadminlogin #loginadmin, #hellologin #loginadmin, #openlablogin #loginadmin {
  text-align: center;
}

/* line 58, ../sass/admin.scss */
#content {
  margin-left: 250px;
  margin-top: 25px;
}
/* line 63, ../sass/admin.scss */
#content p {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  color: #8C8C8C;
  font-size: 0.750em;
  margin-left: 25px;
  padding-top: 10px;
}
/* line 71, ../sass/admin.scss */
#content p span {
  float: right;
  font-size: 0.875em;
  margin-right: 3%;
  padding-top: 1px;
  text-transform: none;
}
/* line 79, ../sass/admin.scss */
#content p input {
  display: block;
  background-color: #E2E2E2;
  border: none;
  height: 2em;
  font-size: 1.35em;
  margin-top: 3px;
  width: 97%;
  color: #8C8C8C;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
/* line 91, ../sass/admin.scss */
#content p textarea {
  background-color: #E2E2E2;
  border: none;
  display: block;
  width: 97%;
  font-size: 1.35em;
  color: #8C8C8C;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
/* line 102, ../sass/admin.scss */
#content hr {
  color: #6B6B6B;
  width: 95%;
}
/* line 107, ../sass/admin.scss */
#content h1 {
  text-transform: uppercase;
  font-size: 2em;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-left: 24px;
}
/* line 113, ../sass/admin.scss */
#content ul {
  margin: 25px;
}
/* line 116, ../sass/admin.scss */
#content ul li {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  padding: 8px;
}
/* line 121, ../sass/admin.scss */
#content ul li [class^="icon-"]:before, #content ul li [class*=" icon-"]:before {
  float: right;
}

/* line 128, ../sass/admin.scss */
.par {
  background-color: #EFEFEF;
}

/* line 132, ../sass/admin.scss */
.impar {
  background-color: #E2E2E2;
}

/* line 136, ../sass/admin.scss */
.sidebaradmin {
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  position: absolute;
}
/* line 143, ../sass/admin.scss */
.sidebaradmin ul {
  margin-top: 75px;
}
/* line 146, ../sass/admin.scss */
.sidebaradmin ul li {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  line-height: 2em;
  font-weight: 200;
  font-size: 0.875em;
}
/* line 153, ../sass/admin.scss */
.sidebaradmin ul li a {
  text-decoration: none;
  color: #FFF;
}

/* line 161, ../sass/admin.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  color: #ff0080;
}

/* line 165, ../sass/admin.scss */
.logoadmin {
  display: block;
  margin: 75px auto 0;
  text-align: center;
}
/* line 170, ../sass/admin.scss */
.logoadmin img {
  position: relative;
}

/* ==========================================================================
   SuperAdmin
   ========================================================================== */
/* line 179, ../sass/admin.scss */
#bodysuperadmin {
  background-color: #ff0080;
}

/* line 184, ../sass/admin.scss */
.btnsuperadmin {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding: 10px 20px;
  margin: 10px 0px;
  font-size: 0.938em;
  color: white;
  text-decoration: none;
  background-color: #282828;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "novecento";
  font-size: 0.875em;
}
/* line 188, ../sass/admin.scss */
.btnsuperadmin:hover {
  background: #0e0e0e;
}
/* line 192, ../sass/admin.scss */
.btnsuperadmin:active {
  background: #020202;
  top: 2px;
}

/* line 199, ../sass/admin.scss */
.siderbarsuperadmin {
  background-color: #ff0080;
}
/* line 202, ../sass/admin.scss */
.siderbarsuperadmin li {
  background-color: #A80265;
}
/* line 205, ../sass/admin.scss */
.siderbarsuperadmin li:hover {
  background-color: #C1006A;
}

/* line 212, ../sass/admin.scss */
.logosuperadmin img {
  width: 53%;
}

/* line 217, ../sass/admin.scss */
.btnaddimage {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding: 10px;
  margin: 10px 0px;
  font-size: 0.938em;
  color: white;
  text-decoration: none;
  background-color: #8c8c8c;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.875em;
}
/* line 221, ../sass/admin.scss */
.btnaddimage:hover {
  background: #737373;
}
/* line 224, ../sass/admin.scss */
.btnaddimage:active {
  background: #666666;
}

/* line 230, ../sass/admin.scss */
.publicar {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding: 10px 20px;
  margin: 10px 0px;
  font-size: 0.938em;
  color: white;
  text-decoration: none;
  background-color: #ff0080;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.15em;
  float: right;
  margin-right: 3%;
}
/* line 237, ../sass/admin.scss */
.publicar:hover {
  background: #cc0066;
}
/* line 240, ../sass/admin.scss */
.publicar:active {
  background: #b3005a;
}

/* line 247, ../sass/admin.scss */
#content h1 {
  color: #2D2D2D;
}
/* line 250, ../sass/admin.scss */
#content h1 span {
  color: #ff0080;
}

/* ==========================================================================
   Hello Admin
   ========================================================================== */
/* line 259, ../sass/admin.scss */
#bodyhello {
  background-color: #545454;
}

/* line 263, ../sass/admin.scss */
.btnhello {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding: 10px 20px;
  margin: 10px 0px;
  font-size: 0.938em;
  color: white;
  text-decoration: none;
  background-color: #ff0080;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "novecento";
  font-size: 0.875em;
}
/* line 267, ../sass/admin.scss */
.btnhello:hover {
  background: #cc0066;
}
/* line 271, ../sass/admin.scss */
.btnhello:active {
  background: #b3005a;
  top: 2px;
}

/* line 277, ../sass/admin.scss */
#hellologin a img {
  margin-left: 50px;
}

/* line 281, ../sass/admin.scss */
.sidebarhello {
  background-color: #545454;
}
/* line 284, ../sass/admin.scss */
.sidebarhello li {
  background-color: #3A3A3A;
}
/* line 287, ../sass/admin.scss */
.sidebarhello li:hover {
  background-color: #2D2D2D;
}
/* line 292, ../sass/admin.scss */
.sidebarhello h1 {
  font-family: 'novecento';
  font-size: 1.375em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

/* ==========================================================================
   OpenLab Admin
   ========================================================================== */
/* line 305, ../sass/admin.scss */
#bodyopenlab {
  background-color: #282828;
}

/* line 309, ../sass/admin.scss */
#openlablogin {
  width: 271px;
}

/* line 314, ../sass/admin.scss */
.btnopenlab {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding: 10px 20px;
  margin: 10px 0px;
  font-size: 0.938em;
  color: white;
  text-decoration: none;
  background-color: #ff0080;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "novecento";
  font-size: 0.875em;
}
/* line 318, ../sass/admin.scss */
.btnopenlab:hover {
  background: #cc0066;
}
/* line 322, ../sass/admin.scss */
.btnopenlab:active {
  background: #b3005a;
  top: 2px;
}

/* line 328, ../sass/admin.scss */
.sidebaropenlab {
  background-color: #282828;
}
/* line 331, ../sass/admin.scss */
.sidebaropenlab li {
  background-color: #3A3A3A;
}
/* line 333, ../sass/admin.scss */
.sidebaropenlab li:hover {
  background-color: #2D2D2D;
}
/* line 338, ../sass/admin.scss */
.sidebaropenlab img {
  width: 85%;
}
