/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'novecento';
  src: url("../fonts/novecentowide-medium-webfont.eot");
  src: url("../fonts/novecentowide-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/novecentowide-medium-webfont.woff") format("woff"), url("../fonts/novecentowide-medium-webfont.ttf") format("truetype"), url("../fonts/novecentowide-medium-webfont.svg#novecento_medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'novecento-wide';
  src: url("../fonts/novecentowide-light-webfont.eot");
  src: url("../fonts/novecentowide-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/novecentowide-light-webfont.woff") format("woff"), url("../fonts/novecentowide-light-webfont.ttf") format("truetype"), url("../fonts/novecentowide-light-webfont.svg#novecento_widelight") format("svg");
  font-weight: normal;
  font-style: light;
}

/* ==========================================================================
   Index
   ========================================================================== */
/* line 14, ../sass/openlab.scss */
nav {
  background-color: #282828;
  height: 54px;
  border-bottom: 4px solid #333333;
}
/* line 19, ../sass/openlab.scss */
nav img {
  margin-top: 10px;
  width: 200px;
}
/* line 24, ../sass/openlab.scss */
nav ul {
  float: right;
}
/* line 27, ../sass/openlab.scss */
nav ul li {
  float: left;
  margin-left: 10px;
  display: inline;
  vertical-align: middle;
  line-height: 54px;
}
/* line 34, ../sass/openlab.scss */
nav ul li a {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  font-size: 0.750em;
}

/* line 45, ../sass/openlab.scss */
.wrap {
  width: 980px;
  overflow: hidden;
  margin: 0 auto;
}

/* line 51, ../sass/openlab.scss */
section {
  background-color: #F9F9F9;
  width: 686px;
  margin: 50px 0;
  overflow: hidden;
  float: left;
  border: 1px solid #E8E8E8;
}

/* line 60, ../sass/openlab.scss */
article {
  display: inline-block;
  padding: 20px;
}
/* line 64, ../sass/openlab.scss */
article img {
  float: left;
  margin-right: 12px;
}
/* line 69, ../sass/openlab.scss */
article h1 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  margin: 8px 0;
  color: rgba(40, 40, 40, 0.9);
}
/* line 78, ../sass/openlab.scss */
article h1 a {
  text-decoration: none;
  color: rgba(40, 40, 40, 0.9);
}
/* line 84, ../sass/openlab.scss */
article p {
  font-size: 0.750em;
  color: #606060;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.4em;
  text-align: justify;
}

/* line 95, ../sass/openlab.scss */
.tags ul {
  display: block;
}
/* line 98, ../sass/openlab.scss */
.tags ul li {
  display: inline-block;
  background-color: #ff0080;
  padding: 0 4px 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
/* line 104, ../sass/openlab.scss */
.tags ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.563em;
}

/* line 115, ../sass/openlab.scss */
.date {
  display: inline-block;
  float: left;
  margin-right: 12px;
  background-color: rgba(40, 40, 40, 0.9);
  padding: 4px 8px;
}
/* line 122, ../sass/openlab.scss */
.date p {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
}

/* line 130, ../sass/openlab.scss */
.numero {
  font-family: 'novecento-wide';
  font-size: 1.188em;
}

/* line 135, ../sass/openlab.scss */
.mes {
  font-family: 'novecento';
  font-size: 0.750em;
}

/* line 141, ../sass/openlab.scss */
aside {
  overflow: hidden;
  float: right;
  width: 265px;
  margin-top: 50px;
}

/* line 149, ../sass/openlab.scss */
#about {
  background-color: #ff0080;
  padding: 25px;
  margin-bottom: 20px;
  font-size: 0.938em;
}
/* line 155, ../sass/openlab.scss */
#about p {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  line-height: 1.1em;
}

/* line 164, ../sass/openlab.scss */
#social {
  background-color: rgba(40, 40, 40, 0.9);
  padding: 20px;
  margin-bottom: 20px;
}
/* line 169, ../sass/openlab.scss */
#social ul {
  margin: 15px auto;
  text-align: center;
}
/* line 173, ../sass/openlab.scss */
#social ul li {
  display: inline;
  text-align: center;
  margin-right: 3px;
}
/* line 180, ../sass/openlab.scss */
#social h2 {
  color: #ff0080;
  font-family: 'novecento';
  font-size: 1.438em;
  text-transform: uppercase;
  text-align: center;
}

/* line 192, ../sass/openlab.scss */
#buscador h2 {
  color: rgba(40, 40, 40, 0.9);
  text-decoration: uppercase;
  font-family: 'novecento';
  font-size: 1.375em;
}
/* line 199, ../sass/openlab.scss */
#buscador input {
  background-color: #E2E2E2;
  width: 100%;
  border: none;
  height: 30px;
  padding-left: 5px;
  font-size: 1em;
  margin-top: 5px;
}

/* line 210, ../sass/openlab.scss */
#categorias {
  margin-top: 25px;
}
/* line 213, ../sass/openlab.scss */
#categorias h2 {
  color: #ff0080;
  text-decoration: uppercase;
  font-family: 'novecento';
  font-size: 1.375em;
  margin-bottom: 10px;
}
/* line 221, ../sass/openlab.scss */
#categorias ul {
  line-height: 1.1em;
}
/* line 224, ../sass/openlab.scss */
#categorias ul li {
  list-style: disc outside none;
  display: list-item;
  margin-left: 1em;
}
/* line 229, ../sass/openlab.scss */
#categorias ul li a {
  color: #606060;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.875em;
  font-weight: bold;
}
/* line 236, ../sass/openlab.scss */
#categorias ul li a span {
  font-weight: normal;
}
/* line 241, ../sass/openlab.scss */
#categorias ul li a:hover {
  color: #ff0080;
}

/* line 248, ../sass/openlab.scss */
#pagination {
  border-top: 1px solid #D3D3D3;
  width: 87%;
  margin: 0 0 10px 72px;
}

/* line 257, ../sass/openlab.scss */
.next {
  float: right;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 4px 20px;
  margin: 10px 0px;
  font-size: 0.938em;
  color: white;
  text-decoration: none;
  background-color: rgba(40, 40, 40, 0.9);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 20px 0;
}
/* line 264, ../sass/openlab.scss */
.next:hover {
  background: rgba(14, 14, 14, 0.9);
}
/* line 268, ../sass/openlab.scss */
.next:active {
  background: rgba(2, 2, 2, 0.9);
}

/* ==========================================================================
   Video - Articulos
   ========================================================================== */
/* line 280, ../sass/openlab.scss */
.share {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 4px 10px;
  margin: 10px 0px;
  font-size: 0.938em;
  color: white;
  text-decoration: none;
  background-color: rgba(40, 40, 40, 0.9);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 10px 0;
  font-size: 0.688em;
}
/* line 287, ../sass/openlab.scss */
.share:hover {
  background: rgba(14, 14, 14, 0.9);
}
/* line 291, ../sass/openlab.scss */
.share:active {
  background: rgba(2, 2, 2, 0.9);
}

/* line 297, ../sass/openlab.scss */
hr {
  color: #BABABA;
}

/* line 301, ../sass/openlab.scss */
#header {
  margin-bottom: 30px;
  border-bottom: 1px solid #BABABA;
  overflow: hidden;
  padding-bottom: 25px;
}

/* line 308, ../sass/openlab.scss */
.video {
  overflow: hidden;
  text-align: center;
  margin: 25px 0 10px;
  border-bottom: 1px solid #BABABA;
  padding-bottom: 20px;
}

/* line 317, ../sass/openlab.scss */
#post p {
  font-size: 0.875em;
  margin: 25px 0;
}
/* line 322, ../sass/openlab.scss */
#post img {
  width: 85%;
  float: none;
  display: block;
  margin: 0 auto;
  padding: 15px;
  background-color: #EAEAEA;
  border: 1px solid #D1D1D1;
}

/* line 336, ../sass/openlab.scss */
.btndescargas li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 10px 15px;
  margin: 10px 0px;
  font-size: 0.938em;
  color: white;
  text-decoration: none;
  background-color: #545454;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 10px 5px;
}
/* line 342, ../sass/openlab.scss */
.btndescargas li:hover {
  background: #3a3a3a;
}
/* line 346, ../sass/openlab.scss */
.btndescargas li:active {
  background: #2e2e2e;
}
/* line 350, ../sass/openlab.scss */
.btndescargas li a {
  color: #FFF;
  text-decoration: none;
  font-size: 0.750em;
}

/* line 359, ../sass/openlab.scss */
.code {
  margin: 25px 0;
}

/* line 363, ../sass/openlab.scss */
footer {
  border-top: 1px solid #BABABA;
  margin-top: 25px;
  padding-top: 15px;
  clear: both;
}
/* line 369, ../sass/openlab.scss */
footer h2 {
  color: #ff0080;
  font-family: 'novecento';
  text-decoration: uppercase;
  margin-bottom: 6px;
}
/* line 376, ../sass/openlab.scss */
footer ul {
  margin-left: 8px;
}
/* line 380, ../sass/openlab.scss */
footer ul li {
  display: list-style;
  list-style: disc outside none;
  margin-left: 1em;
  padding-top: 2px;
}
/* line 386, ../sass/openlab.scss */
footer ul li a {
  color: #606060;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.875em;
}

/* line 396, ../sass/openlab.scss */
figure {
  position: relative;
}

/* line 400, ../sass/openlab.scss */
figcaption {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 5px;
  font-size: 0.75em;
  left: 45px;
  margin: 0;
  padding: 5px 0;
  text-indent: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #9B9B9B;
}

/* line 416, ../sass/openlab.scss */
.caption img {
  padding-bottom: 30px;
}
