/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'novecento';
  src: url("../fonts/novecentowide-medium-webfont.eot");
  src: url("../fonts/novecentowide-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/novecentowide-medium-webfont.woff") format("woff"), url("../fonts/novecentowide-medium-webfont.ttf") format("truetype"), url("../fonts/novecentowide-medium-webfont.svg#novecento_medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
   Globales
   ========================================================================== */
/* line 19, ../sass/screen.scss */
.wrap {
  width: 980px;
  margin: 0 auto;
}

/* line 24, ../sass/screen.scss */
.btn {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 4px 20px;
  margin: 10px 0px;
  font-size: 0.938em;
  color: #FFF;
  text-decoration: none;
  background-color: #ff0080;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 43, ../sass/screen.scss */
.btn:hover {
  background: #cc0066;
}
/* line 47, ../sass/screen.scss */
.btn:active {
  background: #b3005a;
  top: 2px;
}

/* line 54, ../sass/screen.scss */
.mini {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* ==========================================================================
   Texto
   ========================================================================== */
/* line 62, ../sass/screen.scss */
h1 {
  font-size: 2.4em;
  font-family: 'novecento';
  color: #878787;
  margin-bottom: 2px;
}

/* line 69, ../sass/screen.scss */
p {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #BCBCBC;
  line-height: 1.8em;
  font-size: 1em;
}

/* ==========================================================================
   Intro
   ========================================================================== */
/* line 81, ../sass/screen.scss */
#intro {
  background-image: -webkit-gradient(radial, 500px 500px, 0, 500px 500px, 900, color-stop(1.11111%, #ffffff), color-stop(100%, #e7e8e9));
  background-image: -webkit-radial-gradient(500px 500px, #ffffff 10px, #e7e8e9 900px);
  background-image: -moz-radial-gradient(500px 500px, #ffffff 10px, #e7e8e9 900px);
  background-image: -o-radial-gradient(500px 500px, #ffffff 10px, #e7e8e9 900px);
  background-image: radial-gradient(500px 500px, #ffffff 10px, #e7e8e9 900px);
  padding-top: 20px;
}

/* line 86, ../sass/screen.scss */
#header {
  margin: 0 0 80px 0;
  overflow: hidden;
}

/* line 91, ../sass/screen.scss */
#logo {
  display: block;
  float: left;
}
/* line 95, ../sass/screen.scss */
#logo a {
  text-decoration: none;
}

/* line 101, ../sass/screen.scss */
#menu {
  padding: 15px 0;
  margin: 0;
  float: right;
  text-align: right;
}
/* line 107, ../sass/screen.scss */
#menu ul {
  display: block;
}
/* line 110, ../sass/screen.scss */
#menu ul li {
  display: inline;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 0.875em;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
/* line 118, ../sass/screen.scss */
#menu ul li a {
  text-decoration: none;
  color: #919191;
}
/* line 122, ../sass/screen.scss */
#menu ul li a:hover {
  border-bottom: 2px solid #919191;
  color: #111111;
}

/* ==========================================================================
   Works
   ========================================================================== */
/* line 135, ../sass/screen.scss */
#works {
  text-align: center;
  padding-bottom: 100px;
}
/* line 139, ../sass/screen.scss */
#works p {
  padding: 8px 50px 0;
}

/* ==========================================================================
   OpenLab
   ========================================================================== */
/* line 147, ../sass/screen.scss */
#openlab {
  padding: 100px 0;
  background-color: #00C9FF;
  text-align: center;
}
/* line 152, ../sass/screen.scss */
#openlab h1 {
  color: #FFF;
}
/* line 155, ../sass/screen.scss */
#openlab p {
  color: #FFF;
  padding: 8px 50px 0;
}

/* ==========================================================================
   Experiment
   ========================================================================== */
/* line 164, ../sass/screen.scss */
#experiment {
  background-color: #ff0080;
}

/* line 168, ../sass/screen.scss */
#miCanvas {
  position: absolute;
  display: block;
}

/* line 174, ../sass/screen.scss */
#textocanvas {
  position: relative;
  text-align: center;
  z-index: 2;
  padding: 100px 0;
}
/* line 180, ../sass/screen.scss */
#textocanvas h1 {
  color: #FFF;
}
/* line 183, ../sass/screen.scss */
#textocanvas p {
  color: #FFF;
  padding: 8px 50px 0;
}

/* line 189, ../sass/screen.scss */
.btnexp {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 4px 20px;
  margin: 10px 0px;
  font-size: 0.938em;
  color: #545454;
  text-decoration: none;
  background-color: #FFF;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 207, ../sass/screen.scss */
.btnexp:hover {
  background: #CCC;
}
/* line 210, ../sass/screen.scss */
.btnexp:active {
  background: #a6a6a6;
  top: 2px;
}

/* ==========================================================================
   About
   ========================================================================== */
/* line 220, ../sass/screen.scss */
#about {
  background: #545454;
  padding: 60px 0;
  text-align: center;
}
/* line 225, ../sass/screen.scss */
#about h1 {
  color: #FFF;
  margin-bottom: 60px;
  font-family: "novecento", Helvetica, arial;
  line-height: 1.2em;
}
/* line 232, ../sass/screen.scss */
#about ul {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  width: 780px;
}
/* line 238, ../sass/screen.scss */
#about ul li {
  float: left;
  margin-bottom: 5px;
  text-align: center;
  width: 260px;
}
/* line 244, ../sass/screen.scss */
#about ul li h3 {
  color: #FFF;
  font-size: 1.125em;
  font-weight: 600;
  font-family: "novecento", Helvetica, arial;
  padding: 20px 0 20px;
}
/* line 252, ../sass/screen.scss */
#about ul li p {
  color: #FFF;
  font-size: 0.875em;
  line-height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0 3px;
}
/* line 261, ../sass/screen.scss */
#about ul li a {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  margin: 20px 0;
}

/* ==========================================================================
   Contact
   ========================================================================== */
/* line 276, ../sass/screen.scss */
#contact {
  text-align: center;
  padding: 100px 0;
  margin-bottom: 300px;
}
/* line 281, ../sass/screen.scss */
#contact h1 {
  margin: 20px 0;
  line-height: 1.2em;
}
/* line 287, ../sass/screen.scss */
#contact p {
  padding: 0 100px;
  margin-bottom: 30px;
}

/* line 293, ../sass/screen.scss */
#contact-form {
  margin: 0 50px 150px;
}

/* line 297, ../sass/screen.scss */
#infouser {
  width: 310px;
  float: left;
  overflow: hidden;
}
/* line 302, ../sass/screen.scss */
#infouser input {
  padding-left: 4px;
  font-size: 0.983em;
  font-weight: bold;
  width: 265px;
  height: 40px;
  border: none;
  background-color: #D1D1D1;
  float: left;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 317, ../sass/screen.scss */
#infouser #icon-name {
  background: #666666 url('../img/../img/name.png?1381685993') center no-repeat;
  height: 40px;
  width: 40px;
  margin: 10px 0;
  display: inline-block;
  float: left;
  border: none;
}
/* line 327, ../sass/screen.scss */
#infouser #icon-mail {
  background: #666666 url('../img/../img/mail.png?1381685993') center no-repeat;
  height: 40px;
  width: 40px;
  margin: 10px 0;
  display: inline-block;
  float: left;
  border: none;
}

/* line 339, ../sass/screen.scss */
#message {
  float: right;
  width: 530px;
  overflow: hidden;
}
/* line 344, ../sass/screen.scss */
#message textarea {
  margin-top: 10px;
  padding: 5px;
  float: left;
  width: 90%;
  height: 200px;
  background-color: #D1D1D1;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border: none;
  font-size: 0.983em;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 361, ../sass/screen.scss */
#message #icon-comment {
  background: #666666 url('../img/../img/message.png?1381685993') 50% 6% no-repeat;
  height: 200px;
  width: 48px;
  margin: 10px 0;
  float: left;
  border: none;
}

/* line 373, ../sass/screen.scss */
.send {
  overflow: hidden;
  float: right;
  clear: both;
  background-color: #666666;
  padding: 10px 42px;
}
/* line 380, ../sass/screen.scss */
.send:hover {
  background: #4d4d4d;
}
/* line 384, ../sass/screen.scss */
.send:active {
  background: #404040;
  top: 2px;
}

/* ==========================================================================
   Hello
   ========================================================================== */
/* line 396, ../sass/screen.scss */
header #hello-logo {
  margin: 0 auto;
  text-align: center;
  margin: 25px 0 2px;
}
/* line 402, ../sass/screen.scss */
header h1 {
  text-align: center;
  display: block;
  margin: 0 auto 5px;
  font-size: 2em;
}
/* line 409, ../sass/screen.scss */
header p {
  text-align: center;
  display: block;
  font-size: 0.750em;
  padding: 0 50px 10px;
}
/* line 416, ../sass/screen.scss */
header #tags {
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
/* line 423, ../sass/screen.scss */
header #tags ul {
  display: block;
}
/* line 426, ../sass/screen.scss */
header #tags ul li {
  display: inline;
  margin: 5px 0 0 15px;
  text-transform: uppercase;
  font-size: 0.875em;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #ff0080;
  padding: 5px;
}
/* line 436, ../sass/screen.scss */
header #tags ul li a {
  text-decoration: none;
  color: #FFF;
}
/* line 440, ../sass/screen.scss */
header #tags ul li a:hover {
  color: #111111;
}

/* line 450, ../sass/screen.scss */
#hello-works ul {
  margin: 15px auto;
  overflow: hidden;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
/* line 456, ../sass/screen.scss */
#hello-works ul li {
  float: left;
  display: inline;
  width: 33.333%;
  margin-bottom: 4px;
}

/* line 465, ../sass/screen.scss */
#pagination {
  margin-bottom: 20px;
  padding-bottom: 50px;
}
/* line 469, ../sass/screen.scss */
#pagination .prev {
  float: left;
}
/* line 473, ../sass/screen.scss */
#pagination .next {
  float: right;
}

@media screen and (max-width: 999px) {
  /* line 2, ../sass/_responsive.scss */
  .wrap {
    width: auto;
  }

  /* line 6, ../sass/_responsive.scss */
  #logo {
    padding: 0  0 0 15px;
  }

  /* line 10, ../sass/_responsive.scss */
  #menu {
    padding: 15px 15px 0 0;
  }

  /* line 16, ../sass/_responsive.scss */
  #about ul li {
    width: 33%;
  }
  /* line 20, ../sass/_responsive.scss */
  #about ul h1 {
    padding: 0 15px;
  }

  /* line 25, ../sass/_responsive.scss */
  #contact-form {
    width: 90%;
  }

  /* line 28, ../sass/_responsive.scss */
  #message {
    width: auto;
    float: none;
    padding-left: 15px;
  }
  /* line 32, ../sass/_responsive.scss */
  #message #comment {
    width: 85%;
  }

  /* line 36, ../sass/_responsive.scss */
  .send {
    margin-right: 3%;
  }

  /* line 39, ../sass/_responsive.scss */
  #pagination {
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  /* line 47, ../sass/_responsive.scss */
  #logo {
    margin: 0 auto;
    text-align: center;
    float: none;
  }

  /* line 53, ../sass/_responsive.scss */
  #menu {
    float: none;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
  }

  /* line 60, ../sass/_responsive.scss */
  #works {
    padding-top: 0px;
  }

  /* line 64, ../sass/_responsive.scss */
  #about ul {
    width: auto;
  }

  /* line 67, ../sass/_responsive.scss */
  #contact-form {
    float: none;
  }

  /* line 70, ../sass/_responsive.scss */
  #message {
    float: none;
    text-align: center;
    margin: 0 auto;
    width: 80%;
  }

  /* line 77, ../sass/_responsive.scss */
  #infouser {
    float: none;
    margin: 0 auto;
  }

  /* line 81, ../sass/_responsive.scss */
  .send {
    margin-right: 13%;
    float: right;
  }
}
@media screen and (max-width: 480px) {
  /* line 92, ../sass/_responsive.scss */
  #menu {
    float: none;
    margin: 15px auto 0;
    width: 380px;
  }

  /* line 98, ../sass/_responsive.scss */
  #header {
    margin-bottom: 60px;
  }

  /* line 102, ../sass/_responsive.scss */
  #openlab, #textocanvas {
    padding-top: 80px;
  }

  /* line 106, ../sass/_responsive.scss */
  #about ul li {
    width: 50%;
  }

  /* line 109, ../sass/_responsive.scss */
  #message {
    width: 325px;
  }
  /* line 112, ../sass/_responsive.scss */
  #message #comment {
    float: left;
    width: 268px;
  }
  /* line 116, ../sass/_responsive.scss */
  #message #icon-comment {
    width: 42px;
  }

  /* line 120, ../sass/_responsive.scss */
  .send {
    float: right;
    margin-right: 12%;
  }

  /* line 125, ../sass/_responsive.scss */
  #works, #openlab, #experiment, #about, #contact h1 {
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media screen and (max-width: 360px) {
  /* line 132, ../sass/_responsive.scss */
  #about ul li {
    width: auto;
    float: none;
  }
}
