/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'novecento';
  src: url("../fonts/novecentowide-medium-webfont.eot");
  src: url("../fonts/novecentowide-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/novecentowide-medium-webfont.woff") format("woff"), url("../fonts/novecentowide-medium-webfont.ttf") format("truetype"), url("../fonts/novecentowide-medium-webfont.svg#novecento") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
   Globales
   ========================================================================== */
/* line 16, ../sass/screen.scss */
.wrap {
  width: 980px;
  margin: 0 auto;
}

/* line 21, ../sass/screen.scss */
.btn {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 5px 20px;
  margin: 10px 0 100px;
  font-size: 0.938em;
  color: #FFF;
  text-decoration: none;
  background-color: #ff0080;
  text-transform: uppercase;
}
/* line 33, ../sass/screen.scss */
.btn:hover {
  background-color: #cc0066;
}

/* ==========================================================================
   Intro
   ========================================================================== */
/* line 43, ../sass/screen.scss */
#intro {
  background-image: -webkit-gradient(radial, 500px 500px, 0, 500px 500px, 900, color-stop(1.11111%, #ffffff), color-stop(100%, #e7e8e9));
  background-image: -webkit-radial-gradient(500px 500px, #ffffff 10px, #e7e8e9 900px);
  background-image: -moz-radial-gradient(500px 500px, #ffffff 10px, #e7e8e9 900px);
  background-image: -o-radial-gradient(500px 500px, #ffffff 10px, #e7e8e9 900px);
  background-image: radial-gradient(500px 500px, #ffffff 10px, #e7e8e9 900px);
  padding-top: 20px;
}

/* line 49, ../sass/screen.scss */
#header {
  margin: 0 0 80px 0;
  overflow: hidden;
}

/* line 54, ../sass/screen.scss */
#logo {
  display: block;
  float: left;
}
/* line 58, ../sass/screen.scss */
#logo a {
  text-decoration: none;
}

/* line 63, ../sass/screen.scss */
#menu {
  padding: 8px 0;
  margin: 0;
}
/* line 67, ../sass/screen.scss */
#menu ul {
  display: block;
  float: right;
  text-align: right;
}
/* line 72, ../sass/screen.scss */
#menu ul li {
  display: inline;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 0.875em;
  text-decoration: none;
  font-family: "helvetica", arial;
}
/* line 80, ../sass/screen.scss */
#menu ul li a {
  text-decoration: none;
  color: #919191;
}

/* ==========================================================================
   Works
   ========================================================================== */
/* line 92, ../sass/screen.scss */
#works {
  text-align: center;
}
/* line 95, ../sass/screen.scss */
#works p {
  padding: 8px 50px 0;
}

/* ==========================================================================
   OpenLab
   ========================================================================== */
/* line 103, ../sass/screen.scss */
#openlab {
  padding: 100px 0;
  background-color: #00C9FF;
  text-align: center;
}
/* line 108, ../sass/screen.scss */
#openlab h1 {
  color: #FFF;
}
/* line 111, ../sass/screen.scss */
#openlab p {
  color: #FFF;
  padding: 8px 50px 0;
}

/* ==========================================================================
   Texto
   ========================================================================== */
/* line 121, ../sass/screen.scss */
h1 {
  font-size: 2.4em;
  font-family: 'novecento';
  color: #878787;
  margin-bottom: 2px;
}

/* line 128, ../sass/screen.scss */
p {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #BCBCBC;
  line-height: 1.8em;
  font-family: 1em;
}
