@font-face {
  font-family: 'surattack';
  src: url('../fonts/surattack.eot?46060111');
  src: url('../fonts/surattack.eot?46060111#iefix') format('embedded-opentype'),
       url('../fonts/surattack.woff?46060111') format('woff'),
       url('../fonts/surattack.ttf?46060111') format('truetype'),
       url('../fonts/surattack.svg?46060111#surattack') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'surattack';
    src: url('../font/surattack.svg?46060111#surattack') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "surattack";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-doc:before { content: '\e826'; } /* '' */
.icon-attach-1:before { content: '\e821'; } /* '' */
.icon-volume-down:before { content: '\e813'; } /* '' */
.icon-volume-up:before { content: '\e812'; } /* '' */
.icon-eject:before { content: '\e811'; } /* '' */
.icon-floppy-1:before { content: '\e81f'; } /* '' */
.icon-note:before { content: '\e827'; } /* '' */
.icon-note-beamed:before { content: '\e828'; } /* '' */
.icon-search:before { content: '\e832'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e81e'; } /* '' */
.icon-attach:before { content: '\e801'; } /* '' */
.icon-code:before { content: '\e82b'; } /* '' */
.icon-pencil:before { content: '\e806'; } /* '' */
.icon-comment:before { content: '\e831'; } /* '' */
.icon-chat:before { content: '\e830'; } /* '' */
.icon-newspaper:before { content: '\e819'; } /* '' */
.icon-book-open:before { content: '\e816'; } /* '' */
.icon-book:before { content: '\e809'; } /* '' */
.icon-tools:before { content: '\e82e'; } /* '' */
.icon-basket:before { content: '\e82a'; } /* '' */
.icon-login:before { content: '\e804'; } /* '' */
.icon-logout:before { content: '\e805'; } /* '' */
.icon-mic:before { content: '\e81b'; } /* '' */
.icon-play:before { content: '\e80a'; } /* '' */
.icon-stop:before { content: '\e80b'; } /* '' */
.icon-doc-text-1:before { content: '\e822'; } /* '' */
.icon-to-end:before { content: '\e80f'; } /* '' */
.icon-to-start:before { content: '\e810'; } /* '' */
.icon-fast-forward:before { content: '\e80d'; } /* '' */
.icon-fast-backward:before { content: '\e80e'; } /* '' */
.icon-list:before { content: '\e82f'; } /* '' */
.icon-monitor:before { content: '\e800'; } /* '' */
.icon-install:before { content: '\e808'; } /* '' */
.icon-chart-bar:before { content: '\e834'; } /* '' */
.icon-floppy:before { content: '\e807'; } /* '' */
.icon-flow-cascade:before { content: '\e817'; } /* '' */
.icon-flow-branch:before { content: '\e818'; } /* '' */
.icon-flow-tree:before { content: '\e81c'; } /* '' */
.icon-flow-parallel:before { content: '\e829'; } /* '' */
.icon-traffic-cone:before { content: '\e803'; } /* '' */
.icon-github:before { content: '\e81a'; } /* '' */
.icon-doc-text:before { content: '\e820'; } /* '' */
.icon-volume-off-1:before { content: '\e825'; } /* '' */
.icon-volume-down-1:before { content: '\e823'; } /* '' */
.icon-github-circled:before { content: '\e81d'; } /* '' */
.icon-github-circled-1:before { content: '\e82c'; } /* '' */
.icon-cancel-circled:before { content: '\e833'; } /* '' */
.icon-download-alt:before { content: '\e82d'; } /* '' */
.icon-volume-off:before { content: '\e824'; } /* '' */
.icon-fast-backward-1:before { content: '\e815'; } /* '' */
.icon-fast-forward-1:before { content: '\e814'; } /* '' */
.icon-pause:before { content: '\e80c'; } /* '' */


#header_meta {
display: block;
}